@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: ' ';
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* a {
  font-weight: 500;
  font-size: 18px;
} */
.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  padding: 1em 0;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: lighter;
  font-size: 20px;
  z-index: 100;
}

header .wrapper {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  flex-basis: 6%;
}

nav {
  flex-basis: 94%;
  margin-left: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  flex-basis: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

nav ul li { margin-right: 1.5em; }
nav ul li a { color:white; }
nav ul li a:hover { border-bottom: 1px solid white;}

nav::after {
  display: none;
  content: "\f0c9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 24px;
  color: white;
}

.icon::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
}

.down::after {
  content: "\f078";
  margin-left: 0.5em;
}

.sign {
  flex-basis: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.globe {
  display: block;
  text-indent: -9999px;
  position: relative;
}

.globe::after {
  content: "\f0ac";
  color: white;
  position: absolute;
  left: 0;
  text-indent: 0;
  font-size: 24px;
}

.globe:hover::after { color: skyblue; }

.btn {
  padding: 0.5em 1.5em;
  border-radius: 1.5em;
  margin-left: 1.5em;
  background-color: white;
  color: black;
}

.btn:hover {
  background-color: skyblue;
  color: white;
}

section:not(.banner) { padding: 100px 0; }

.banner {
  width: 100%;
  min-height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url(https://images.pexels.com/photos/5412/water-blue-ocean.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  object-fit: cover;
}

h2 {
  margin-top: 15%;
  font-weight: 700;
  font-size: 42px;
  color: white;
}

.banner a {
  padding: 0.8em 1.2em;
  border-radius: 2em;
  margin-top: 3em;
  font-weight: 600;
  font-size: 24px;
  background-color: white;
  color: skyblue;
  text-transform: capitalize;
}
.banner a:hover {
  background-color: skyblue;
  color: white;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
}

h3 {
  flex-basis: 50%;
  padding-right: 1.5em;
  font-weight: 800;
  font-size: 72px;
}

.first-header {
  flex-basis: 50%;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5em;
}

.first-header p { margin: 1em 0; }

.get {
  border-bottom: 1px solid gray;
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
  color: black;
}

.right::after {
  content: "\f054";
  margin-left: 0.2em;
}

.first-content {
  width: 98%;
  border: 1px solid black;
}

.content-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-row li { flex-basis: 50%; }

.row {
  padding: 0 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  line-height: 1.5em;
}

.head {
  font-weight: bolder;
  font-size: 32px;
  text-transform: capitalize;
}

.sub-head {
  margin-top: 0.5em;
  font-weight: lighter;
  font-size: 36px;
  text-transform: capitalize;
}

.row li:nth-last-child(2) { margin: 2em 0; }

.second .wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  width: 60%;
  font-weight: 800;
  font-size: 72px;
  text-align: center;
}

.second-ctn {
  margin: 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.second-left ul { flex-basis: 50%; }

.left-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5em;
}

.left-content li:nth-child(2) {
  margin: 0.8em 2em;
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
}

.left-content li:nth-child(3) {
  width: 80%;
  margin-left: 2.6em;
  font-weight: 400;
  font-size: 18px;
}

.second-left > li:nth-child(2) { margin-left: 10em;}

.right-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5em 0;
}

.right-content li:nth-child(2) {
  margin: 0.8em 0;
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
}

.right-content > li:nth-child(3) {
  width: 80%;
  font-weight: 400;
  font-size: 18px;
}

.second-right > li:nth-child(odd) { margin-left: 10em; }

.second .wrapper a {
  font-weight: bold;
  font-size: 42px;
  color: black;
  text-transform:capitalize;
  border-bottom: 2px solid black;
}

.arrow::after {
  margin-left: 0.3em;
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 32px;
}

.third .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.third-content {
  flex-basis: 50%;
  margin-right: 50px;
}

.third-content ul li p {
  margin-bottom: 2.5em;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5em;
}

.content li a { margin-bottom: 4em; }

.heading {
  display: block;
  width: 75%;
  margin-bottom: 1.5em;
  font-weight: 600;
  font-size: 42px;
}

.third-img {
  margin-right: -9%;
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.third-img img {
  width: 80%;
  float: right;
  margin-right: -3em;
}

.forth {
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 5em;
  background-color: royalblue;
  color: white;
}

.forth .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.forth-left { flex-basis: 50%; }
.forth-right { flex-basis: 50%; }

h6 {
  width: 80%;
  font-weight: 800;
  font-size: 98px;
  margin-bottom: 1em;
}

.forth-left li a {
  border-bottom: 2px solid white;
  color: white;
}

.forth-left li:last-child { margin-left: 2em; }

.subheading {
  font-weight: bolder;
  font-size: 28px;
}

.bar {
  display: block;
  width: 2em;
  height: 2px;
  margin: 1em 0;
  background-color: white;
}

.order-list li {
  margin-bottom: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.number { margin-right: 0.5em; }

footer { padding: 100px 50px; }

footer .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-content {
  flex-basis: 18%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-content li span {
  display: block;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 2em;
}

.footer-content li a {
  margin-bottom: 1em;
  color: gray;
}

.footer-content li a:hover { color: royalblue; }

.footer-last {
  flex-basis: 28%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-last li .logo-footer {
  width: 5em;
  margin-bottom: 2em;
}

.footer-last p {
  margin-bottom: 1em;
  color: gray;
}

.social-ctn {
  width: 100%;
  display: flex;
}

.social {
  display: block;
  text-indent: -9999px;
  position: relative;
  margin-right: 3em;
}

.social::before {
  position: absolute;
  left: 0;
  text-indent: 0;
  color: gray;
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  font-size: 24px;
}

.social:hover::before { color: royalblue; }
.facebook::before { content: "\f39e"; }
.twitter::before { content: "\f099"; }
.google::before { content: "\f0d5"; }
.youtube::before { content: "\f167"; }
.pinterest::before { content: "\f231"; }
.instagram::before { content: "\f16d"; }
.linkedin::before { content: "\f0e1"; }


@media (max-width: 1280px) {
  nav ul { flex-basis: 75%;}
  .sign { flex-basis: 25%;}
}

@media (max-width: 995px) {
  header { font-size: 16px; }
  h2 { font-size: 28px; }
  .banner a { font-size: 20px; }
}
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  nav ul {
    width: 0;
    padding: 1em 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    top: 3em;
    background-color: royalblue;
    overflow: hidden;
    transition: 0.3s;
  }

  nav:hover ul { width: 100%; }
  nav ul li { margin-bottom: 2em; }

  nav::after {
    display: block;
  }

  .sign { display: none; }
  .logo { flex-basis: 10%; }
  .icon::after { font-size: 14px; }
}
